.projectList {
   @include adjust-flex(flex-start, center);
   flex-wrap: wrap;

   &_item {
      flex: 0 0 calc(100% / 3);
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 20px;

      @include tablet-down {
         flex: 0 0 calc(100% / 2);
      }

      @include mobile-down {
         flex: 0 0 100%;
         padding-bottom: 24px;
      }
   }
}